<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906709640979-u855mksccj7mvkql227tvc2uase2upmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906709640979-u855mksccj7mvkql227tvc2uase2upmr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>906709640979-nkmi3iji6kcvggl8v80ikfo1ajg4kljh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQYv14B5wuqGTIOYmeaVJbSvw-VHsGopA</string>
	<key>GCM_SENDER_ID</key>
	<string>906709640979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitHub</string>
	<key>PROJECT_ID</key>
	<string>fruithub-6363a</string>
	<key>STORAGE_BUCKET</key>
	<string>fruithub-6363a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906709640979:ios:f8a68cd127fc9921d1dce6</string>
</dict>
</plist>